.chat-window {
	overflow: hidden;
}
.form-focus select.form-control {padding-top: 6px}
.form-focus .form-control:not([value=""])~.focus-label, .form-focus .form-control:focus~.focus-label {
	top: -18px;
}

.widget-profile.pat-widget-profile .profile-info-widget .booking-doc-img img {
	min-width: 100px;
	min-height: 100px;
}

.dct-appoinment .tab-view {
	justify-content: space-between;
}

.dct-appoinment .tab-view .nav-item {
	width: auto;
}
.publicPagination {
	display: flex;
	align-items: center;
	justify-content: flex-end;
}
.publicPagination .pagination  {
	margin: 0;
}
.publicPagination .pagination li {
	margin-left: 10px;
}
.publicPagination .pagination li a[disabled] {
	opacity: 0.5;
	pointer-events: none;
}
.publicPagination  p{
	margin: 0; 
}
.noData {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 50vh;
}
.account-content .form-focus {margin-bottom: 29px;}
.account-content .form-focus .pError{color: red;}
@-webkit-keyframes sk-bouncedelay {
	0%, 80%, 100% {
		-webkit-transform: scale(0);
	}
	40% {
		-webkit-transform: scale(1);
	}
}

@keyframes sk-bouncedelay {
	0%, 80%, 100% {
		-webkit-transform: scale(0);
		transform: scale(0);
	}
	40% {
		-webkit-transform: scale(1);
		transform: scale(1);
	}
}

@keyframes rotate {
	0% {
		transform: rotate(0deg);
	}
	25% {
		transform: rotate(90deg);
	}
	50% {
		transform: rotate(180deg);
	}
	75% {
		transform: rotate(270deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
.btn-google {
	/* background-color: #dd4b39 !important; */
    /* color: #fff !important; */
    font-size: 13px !important;
	padding: 8px 12px !important;
	box-shadow: unset !important;
	height: 38px;
	background-color: #DDD !important;
	font-size: 15px !important;
}
.btn-google div {
	background-color: transparent !important
}